body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 105%;
  margin-left: -8px;
}

header {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  width: 76px;
  height: 20px;
  margin-left: 12px;
  margin-right: 70%;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  animation: rotation 2s;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.onion {
  display: inline-block;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 75%;
  margin-top: 3%;
}

#main {
  display: flex;
  min-height: 80vh;
  background-image: url("portfolioimgs/bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
}

.headline1 {
  position: static;
  width: 300px;
  height: 150px;
  margin-left: 24px;
  margin-top: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text {
  position: static;
  width: 327px;
  height: 146px;
  margin-left: 24px;
  margin-top: -22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact {
  position: static;
  width: 117px;
  height: 24px;
  margin-left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.contact2 {
  position: static;
  width: 117px;
  height: 24px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.box {
  display: flex;
  padding-left: 24px;
  margin-left: 7px;
}

.box2 {
  display: flex;
  padding-left: 24px;
  margin-left: 20px;
}

.socialMedia {
  width: 10%;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.socialMedia img {
  width: 20px;
  height: 20px;
}

.img1 {
  position: static;
  width: 295px;
  height: 220px;
  margin-left: 16px;
  margin-top: 16px;
}

#workProjects {
  margin-top: 5px;
  height: 100%;
  background: #f7f7f9;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 80px;
}

.work {
  display: flex;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  position: static;
  width: 327px;
  height: 640px;
  background: #fff;
  flex-direction: column;
}

.work h1 {
  margin-left: 20px;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1px;
  color: #172b4d;
}

.multi {
  width: 300px;
  line-height: 80px;
}

.work h3 {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 4px;
  position: static;
  width: 35px;
  height: 16px;
  margin-left: 20px;
}

.canopy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards > li {
  margin-top: -9px;
}

.info {
  margin-right: 10px;
  margin-bottom: 4px;
  color: #7a869a;
  width: 125px;
}

.info::before {
  content: url("portfolioimgs/Counter.svg");
  width: 1px;
  height: 2px;
  margin-right: 9px;
}

.description {
  width: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work p {
  margin-left: 20px;
}

.grid-container {
  display: grid;
  justify-content: center;
  margin-right: 12%;
  margin-left: auto;
  gap: 70px;
}

.tools {
  display: flex;
  align-items: center;
  color: #6070ff;
}

.tools p {
  width: auto;
  border: 2px solid #ebebff;
  background-color: #ebebff;
  background-size: 100%;
  padding: 7px;
  border-radius: 16px;
  font-size: 12px;
}

.view-project button {
  border: 2px solid #396df2;
  background-color: transparent;
  background-size: 100%;
  padding-bottom: 10px;
  padding-top: 8px;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  color: #396df2;
  font-size: 17px;
  font-weight: normal;
}

.resume button {
  border: 2px solid #396df2;
  background-color: transparent;
  background-size: 100%;
  padding-bottom: 10px;
  padding-top: 8px;
  border-radius: 10px;
  width: 145px;
  height: 40px;
  margin-left: 40px;
  color: #396df2;
  font-size: 17px;
  font-weight: normal;
}

.contact-btn button {
  width: 40%;
  height: 40px;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #6070ff;
  margin-top: 20px;
  cursor: pointer;
}

.view-project button:active {
  background-color: #396df2;
  color: #fff;
}

.view-project button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.about-section {
  background-color: #fff;
  border-radius: 0 76px 0 0;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.about h1 {
  margin-bottom: 27px;
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  width: 100px;
}

.text2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 19em;
  margin-left: 40px;
}

.aboutMySelf {
  margin-left: 40px;
}

.resume {
  color: #396df2;
  font-size: 17px;
  font-weight: bold;
}

.resume button:active {
  background-color: #396df2;
  color: #fff;
}

.resume button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.languages li {
  margin-left: 20px;
  color: #000;
}

.scrollDown {
  height: 10px;
  width: 17px;
  margin-left: 140px;
}

.html-css {
  color: #253858;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.html-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f9;
  width: 300px;
}

.css-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 250px;
  background-color: #f7f7f9;
  width: 300px;
}

.html-li {
  margin-left: 25px;
  margin-right: auto;
}

.html {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.css-li {
  margin-left: 25px;
  margin-right: auto;
}

.css {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.Frameworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
}

.Frameworks li {
  margin-left: 20px;
  color: #000;
}

.scrollDown2 {
  height: 17px;
  width: 14px;
  margin-left: 130px;
}

.Skills {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Skills li {
  margin-left: 20px;
  color: #000;
  margin-right: 65px;
  margin-top: 20px;
}

.get-my-contact:hover {
  cursor: pointer;
  opacity: 0.7;
}

.get-my-contact:active {
  opacity: 1;
}

.contact-me {
  background: url("portfolioimgs/Contact-me.svg");
  width: 375px;
  height: 779px;
  margin-top: 114px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: space-evenly;
}

.contact-me .section-header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: -52px;
}

.text-contact {
  width: 327px;
  height: 102px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 50px;
}

textarea {
  width: 320px;
  height: 100px;
  border: 1px solid #b3bac5;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #6070ff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}

input {
  width: 100%;
  height: 50px;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

input:hover {
  transform: translate(20px, 10px);
}

textarea:hover {
  transform: translate(20px, 10px);
}

.contact-btn button:hover {
  opacity: 0.7;
}

.contact-btn button:active {
  background: #6070ff;
  color: #fff;
}

#workProjects img:hover {
  transform: scale(1.4, 1.2);
}

@media screen and (max-width: 991.9px) {
  .desktop-nav-bar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    inset: 0 0 0 0;
    overflow: hidden;
    position: fixed;
    height: 100%;
    opacity: 0.9;
    background-color: #6070ff;
    padding-top: 15%;
    backdrop-filter: blur(100px);
    mix-blend-mode: multiply;
  }

  .desktop-nav-container > li > a {
    color: #fff;
    margin-bottom: 125px;
  }

  .desktop-nav-container > li {
    margin-bottom: 50px;
  }

  .close-btn {
    margin: 18px 48px 34px auto;
    float: right;
  }
}

@media screen and (max-width: 991px) {
  .js-container {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
    margin-left: -5px;
  }

  #main {
    background-image: url("portfolioimgs/bg2.svg");
    background-size: 100%;
    position: static;
    min-height: 52vh;
  }

  header {
    margin-left: 7%;
    margin-top: 5px;
  }

  .onion {
    display: none;
  }

  .container {
    display: inline;
    overflow-x: hidden;
    width: 100%;
    margin-left: 10px;
  }

  .grid-container {
    overflow-x: hidden;
  }

  .headline1 {
    font-size: 40px;
    line-height: 50px;
    width: 350px;
    margin-bottom: 5px;
    margin-top: 15%;
    margin-left: 16%;
  }

  .text {
    width: 600px;
    font-size: 17px;
    line-height: 23px;
    height: 70px;
    margin-left: 16%;
  }

  .box {
    width: 33%;
    margin-left: 13%;
    margin-bottom: 70px;
  }

  .contact {
    margin-left: 16%;
    margin-bottom: 0;
  }

  .desktop-nav-bar {
    width: 71%;
    margin-left: auto;
  }

  .desktop-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    margin-left: 190px;
  }

  .nav-li {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin-right: 25px;
  }

  .work {
    display: flex;
    flex-direction: row;
    width: 790px;
    height: 320px;
    margin-left: 100px;
  }

  .img1 {
    padding: 0;
    height: 300px;
    width: 350px;
    margin-top: 10px;
  }

  .work2 {
    flex-direction: row-reverse;
  }

  .work2 .img1 {
    margin-right: 40px;
  }

  .work4 {
    flex-direction: row-reverse;
  }

  .work4 .img1 {
    margin-right: 40px;
  }

  .work-descreption {
    margin-top: 30px;
    margin-bottom: 15px;
    height: 100px;
  }

  .view-project button {
    height: 39px;
    width: 150px;
  }

  .description {
    font-size: 15px;
    line-height: 20px;
    width: 350px;
  }

  .canopy {
    height: 15px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    width: 790px;
  }

  .about {
    width: 310px;
    height: 350px;
    margin-right: 90px;
    margin-left: 120px;
  }

  .text2 {
    font-size: 16px;
    line-height: 24px;
    margin-left: 35px;
    width: 380px;
    height: 100px;
    margin-bottom: 25px;
  }

  .about h1 {
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 37px;
    width: 85px;
    margin-bottom: 45px;
  }

  .skills-section {
    width: 100%;
  }

  .html-css {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
  }

  .js-container {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
    background-color: #f7f7f9;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .js {
    height: 48px;
    width: 48px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 17px;
  }

  .js-li {
    margin-left: 15px;
  }

  .html-container {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .html {
    height: 48px;
    width: 48px;
    margin-left: -29px;
    margin-top: -12px;
    margin-bottom: 17px;
  }

  .css-container {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .css {
    height: 48px;
    width: 48px;
    margin-bottom: 17px;
    margin-left: -29px;
    margin-top: -12px;
  }

  .languages li {
    width: 200px;
    margin-bottom: 20px;
  }

  .Frameworks li {
    width: 210px;
  }

  .Skills li {
    width: 147px;
  }

  .contact-me {
    background-image: url("portfolioimgs/Contact-me2.svg");
    background-color: #6070ff;
    background-size: 97%;
    min-width: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    border-radius: 70px 0 0 0;
  }

  .contact-me .text-contact {
    width: 500px;
    height: 40px;
    margin-bottom: 0;
  }

  .contact-me .message {
    width: 400px;
  }

  .contact-me button {
    margin-left: 30%;
  }
}
