body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  display: flex;
  min-height: 100vh;
  background-image: url("/portfolioimgs/headerBg2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  flex-direction: column;
}

header {
  display: flex;
  margin: 20px;
}

.logo {
  position: static;
  width: 76px;
  height: 20px;
  margin-left: 12px;
  margin-top: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.onion {
  margin-left: auto;
}

.headline1 {
  position: static;
  width: 300px;
  height: 150px;
  margin-left: 24px;
  margin-top: 114px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text {
  position: static;
  width: 327px;
  height: 146px;
  margin-left: 24px;
  margin-top: -22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact {
  position: static;
  width: 117px;
  height: 24px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.socialimgs {
  margin-left: 20px;
  width: 12.5em;
  height: auto;
}
